@import "tailwindcss";

:root {
  --background-header: #3B5D50;
  --background-main: #EFF2F1;
  --background-footer: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background-header: var(--background-header);
  --color-background-main: var(--background-main);
  --color-background-footer: var(--background-footer);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
