@import "tailwindcss";

:root {
  --background-header: #3B5D50;
  --background-main: #EFF2F1;
  --background-footer: #ffffff;
  --border-color: #ABADB0;
  --foreground: #171717;
  --my-marker: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.42234' cy='5.00047' r='3.42234' stroke='%233B5D50' stroke-width='2'/%3E%3C/svg%3E%0A");
}

@theme inline {
  --color-background-header: var(--background-header);
  --color-background-main: var(--background-main);
  --color-background-footer: var(--background-footer);
  --color-border: var(--border-color);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
